.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal__content {
  position: absolute;
  background: white;
  padding: 24px;
  width: 320px;
  height: 100vh;
  max-width: 90%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  transform: scale(0.9);
  opacity: 0;
  transition: all 0.3s ease;
  right: 0;
}

.modal__content input {
  height: 50px;
}

.modal__content.animate {
  transform: scale(1);
  opacity: 1;
}
